/* Header */

header {
  padding-top: 5px;
  position: relative;
  // height: 700px;
}

nav {

  @media screen and (min-width: 1140px) {
    display: flex;
    align-items: center;
    
  }
}

.logo-link {
  display: flex;
  align-items: center;
  width: 248px;
}


.logo {
  margin-right: 15px;
  width: 100px;
  aspect-ratio: 1 / 1;
}


.logo-txt {
  font-family: "Cormorant", serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: $main-bg-cl
}

.menu-list {
display: none;

//  --- Бургер меню --- //
@media screen and (max-width: 1139px) {
  position: absolute;
  // top: 60px;
  top: 0px;
  right: 0;
  height: 100vh;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgb(255, 140, 0);

  padding: 25px;
  padding-top: 50px;
  // border-radius: $border-radius;
  border: $main-border;
  
}

@media screen and (min-width: 1140px) {
  display: flex;
  gap: 15px;
  margin: 0 auto;

  position: absolute;
  bottom: -800px;
  left: 50%;
  transform: translateX(-50%);
}

}



.menu-item {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 300;
  color: $main-bg-cl;

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 1139px) {
    text-align: center;
    font-size: 22px;
    // border-bottom: $main-border;
    // border-top: $main-border;
    // border-radius: $border-radius;
    // padding: 5px 10px;
  
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    
  }

  @media screen and (min-width: 1140px) {
    font-size: 18px;
  }
}

.menu-item > a {
  @media screen and (min-width: 1140px) {

    padding: 8px 15px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
}

@media screen and (min-width: 1140px) {
  .menu-list li:nth-child(4) {
    margin-left: 140px;
  }
  .menu-list li {
    border-right: 0.5px solid $main-bg-cl;
    margin-right: 0;
    padding-right: 0;
  }
  
  .menu-list li:nth-child(3n) {
    border-right: none;
  }
  
}



.menu-item > a:hover,
.menu-item > a:focus {
  color: $main-color;
  border-color: $main-color;
}

.menu-item:hover{
  scale: 1.025; 
}

.menu-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  stroke: $main-bg-cl;

  position: absolute;
  top: 5px;
  right: 15px;


  @media screen and (min-width: 1139px) {
    display: none;
    
  }
  
}


.icon-plus{
  display: none;
}
.social-list{
  display: none;

  @media screen and (min-width: 1139px) {
      display: flex;
      gap: 15px;
      margin-left: auto; 
    
  }

}


@media screen and (max-width: 1139px) {
  
  .menu-btn.is-open .icon-plus,
  .menu-list.is-open{
    display: block;
  }
}


.menu-btn.is-open .icon-menu{
  display: none;
}


.social-link{
  display: flex;
  justify-content: center;
  align-items: center;    
  width: 32px;
  height: 32px;
  padding: 5px;

  border: 0.5px solid $main-bg-cl;
  border-radius: 50%;
}

.social-icon{
  stroke: $main-bg-cl;
  fill: none;
}

.social-link:hover{
  border-color: $main-color;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  stroke: $main-color;

}


