// /* SKILLS */

.skills {
  background-image: url(../img/bg-skills.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.skills-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.skills-list {
  display: flex;
  transition: transform 0.6s ease;
  will-change: transform;
}

.skills-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // gap: 20px;
  flex: 0 0 100%; /* кожна сторінка займає всю ширину */
}

.skills-item {
  flex: 0 0 calc(25% - 15px);
  box-sizing: border-box;
  padding: 15px;
}

.skills-img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: block;
  margin: 0 auto;

  @media (min-width: 768px) {
     width: 100%;
}
}
// @media (max-width: 767px) {
//   .skills-img { 
//     display: block;
//     margin: 0 auto;}
// }

/* кнопки */
.skills-slider {
  position: relative;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: $main-bg-cl;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  &:hover{
    box-shadow: rgb(54, 57, 60) 0px 20px 30px -10px;
    border: 0.5px solid $main-txt-cl;
    background-color: $main-color;
    scale: 0.95;
  }
}


.next-icon,
.prev-icon {
display: inline-flex;
align-items: center;
justify-content: center;
vertical-align: middle;
padding: 0;
}

.next-icon{
  transform: translate(2px, -1px);
}
.prev-icon {
  transform: translate(-2px, -1px);
}

.slider-btn:hover .next-icon,
.slider-btn:hover .prev-icon {
display: inline-flex;

fill: $main-bg-cl;
}






.prev { left: 0px; }
.next { right: 0px; }


@media (min-width: 768px) {
  .prev,
  .next {
    display: block;
  }
}

@media (max-width: 1024px) {
  .skills-item { flex: 0 0 calc(33.33% - 15px); }
}
@media (max-width: 768px) {
  .skills-item { flex: 0 0 calc(50% - 10px); }
}
@media (max-width: 480px) {
  .skills-item { flex: 0 0 100%; }
}
