// $main-color: rgba(30, 144, 255, 0.8);
$main-color: rgb(255, 140, 0);

$main-txt-cl: #2a2a2a;
$secondary-txt-cl: #777779;
$main-bg-cl: #ffffff;
// $main-bg-cl: #f3f3f3;


$hover-btn-cl: rgba(28, 52, 234, 0.506);

$icon-border: 0.5px solid #2a2a2a;
// $main-border: 0.5px solid #2a2a2a;
$main-border: none;
$border-radius: 15px;
$border-radius-btn: 76px;
// $border-radius: none;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;