@import './vars';
@import './base';
// @import './header';
// @import './contacts';
@import './footer';


/* Header */

header {
  padding-top: 5px;
  position: relative;
}


nav {

  @media screen and (min-width: 1140px) {
    display: flex;
    align-items: center;
    
  }
}

.logo-link {
  display: flex;
  align-items: center;
  width: 248px;
}


.logo {
  margin-right: 15px;
  width: 100px;
  aspect-ratio: 1 / 1;
}


.logo-txt {
  font-family: "Cormorant", serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: $main-bg-cl
}

.menu-list {
display: none;

//  --- Бургер меню --- //
@media screen and (max-width: 1139px) {
  position:absolute;

  top: 0px;
  right: 0;
  height: 100vh;

  background-color: rgb(255, 140, 0);

  padding: 25px;
  padding-top: 50px;
  // border-radius: $border-radius;
  border: $main-border;
  z-index: 999;
}

@media screen and (min-width: 1140px) {
  display: flex;
  gap: 15px;
  margin: 0 auto;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

}

.menu-item {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 300;
  color: $main-bg-cl;

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 1139px) {
    text-align: center;
    font-size: 22px;
  
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    
  }

  @media screen and (min-width: 1140px) {
    font-size: 18px;
  }
}

.menu-item > a {
  @media screen and (min-width: 1140px) {

    padding: 8px 15px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
}

@media screen and (min-width: 1140px) {
  .menu-list li:nth-child(4) {
    margin-left: 140px;
  }
  .menu-list li {
    border-right: 0.5px solid $main-bg-cl;
    margin-right: 0;
    padding-right: 0;
  }
  
  .menu-list li:nth-child(3n) {
    border-right: none;
  }
  
}



.menu-item > a:hover,
.menu-item > a:focus {
  color: $main-color;
  border-color: $main-color;
}

.menu-item:hover{
  scale: 1.025; 
}

.menu-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  stroke: $main-bg-cl;

  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 10000;

  @media screen and (min-width: 1139px) {
    display: none; 
  }  
}

.icon-plus{
  display: none;
}
.social-list{
  display: none;

  @media screen and (min-width: 1139px) {
      display: flex;
      gap: 15px;
      margin-left: auto;  
  }
}


@media screen and (max-width: 1139px) {  
  .menu-btn.is-open .icon-plus,
  .menu-list.is-open{
    display: block;
  }
}

.menu-btn.is-open .icon-menu{
  display: none;
}

.social-link{
  display: flex;
  justify-content: center;
  align-items: center;    
  width: 32px;
  height: 32px;
  padding: 5px;

  border: 0.5px solid $main-bg-cl;
  border-radius: 50%;
}

.social-icon{
  stroke: $main-bg-cl;
  fill: none;
}

.social-link:hover{
  border-color: $main-color;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  stroke: $main-color;

}






/* HERO */

.hero {
  text-align: center;
  min-height: 96vh;
  // min-height: 100%;
  margin: 0 auto;
  background-color: $main-txt-cl;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/hero.webp) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $main-bg-cl;

  // margin-top: -69px;
  padding-bottom: 50px;


  &-title {
    min-height: 58px;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 100px;
    // margin-bottom: 50px;
    color: $main-bg-cl;
    
  
    @media (min-width: 768px) {
      font-size: 56px;
      padding-top: 130px;
      margin-bottom: 35px;
    }

  
  }
  
  &-txt {
    text-transform: uppercase;
    margin-bottom: 20px;
    // color: $main-txt-cl;
    color: $main-bg-cl;
    font-weight: 300;
    // text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    
    @media screen and (min-width: 1024px) {
      margin-bottom: 20px;
      font-size: 20px;
      display: inline-block; 
      align-items: center;
      // width: 715px;
      letter-spacing: 2px;
      
    }
  }
  
  &-btn {
    border-color: $main-bg-cl;
    @media screen and (min-width: 1024px) {
      display: block;
      margin: 0 auto;
    }
  }
}

.main-color{
  color: $main-color;
}
// <--------------------------------------->

/* WORK */

.work-subtitle {
  position: absolute;
  z-index: 3;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);

  pointer-events: none;

  font-size: 20px;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: $main-bg-cl;
  // color: $main-color;

  @media screen and (max-width: 500px) {
    font-size: 14px;
    bottom: 10px;
  }
}

.burger-menu {
  position: fixed;
  z-index: 1000;
}


.work-list {
  display: flex;
  flex-wrap: wrap; /* переносимо елементи на новий рядок */
  justify-content: center; /* центр усіх неповних рядів */
  gap: 20px;
  margin-top: 20px;
}

/* мобільні — 2 у ряд */
.work-item {
  flex: 0 1 calc(50% - 10px);
}

/* планшети — 3 у ряд */
@media screen and (min-width: 768px) {
  .work-item {
    flex: 0 1 calc(33.333% - 16.666px);
  }
}

/* десктоп — 4 у ряд */
@media screen and (min-width: 1024px) {
  .work-item {
    flex: 0 1 calc(25% - 22.5px);
  }
}

/* великі екрани — 6 у ряд */
@media screen and (min-width: 1400px) {
  .work-item {
    flex: 0 1 calc(20% - 25px); /* 1/6 мінус половина gap */
  }
}




.work-item {
  position: relative;
  margin-bottom: 15px;
  aspect-ratio: 3 / 4;

  border: $main-border;
  border: 0.5px solid $main-color;
  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: $border-radius;
  
  
  &:hover, &:focus{
    transform: scale(1.01);
    box-shadow: rgb(54, 57, 60) 0px 20px 30px -10px;
    cursor: pointer;
  }
 
}
.work-item > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.work-item a::after {
  content: "";
  position: absolute;
  inset: 0; /* скорочено: top: 0; right: 0; bottom: 0; left: 0; */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.1) 25%,
  );
  z-index: 1;
  transition: opacity 0.3s ease;

  @media screen and (max-width: 768px) {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.1) 70%,
    );
}}
.work-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.icon-plus {
  position: relative;
  z-index: 9999;
}










/* ----- Footer ----- */

.footer {
  // margin: 10px 0;
padding-top: 5px;
}

.footer-txt {
  text-align: center;
}



